# SQLlite

In [11]:
import sqlite3
import pandas as pd

# Sample CSV file (Replace with your actual financial data file)
csv_file = "docs\company_financial_data.csv"  # Ensure this file exists

# Connect to SQLite (Creates DB file if it doesn't exist)
conn = sqlite3.connect("financial_data.db")
cursor = conn.cursor()

# Create table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS financials (
        year INTEGER PRIMARY KEY,
        revenue REAL,
        gross_profit REAL,
        operating_income REAL,
        pre_tax_income REAL,
        income_after_taxes REAL,
        income_from_continuous_operations REAL,
        net_income REAL,
        basic_eps REAL,
        eps REAL
    )
''')

# Insert data into SQLite
df.to_sql("financials", conn, if_exists="replace", index=False)

# Commit and close connection
conn.commit()
conn.close()

print("Financial data loaded successfully into SQLite!")

Financial data loaded successfully into SQLite!

<>:5: SyntaxWarning: invalid escape sequence '\c'
<>:5: SyntaxWarning: invalid escape sequence '\c'
C:\Users\malavika.gowthaman\AppData\Local\Temp\ipykernel_23820\385876083.py:5: SyntaxWarning: invalid escape sequence '\c'
  csv_file = "docs\company_financial_data.csv"  # Ensure this file exists

In [12]:
conn = sqlite3.connect("financial_data.db")
query = "SELECT * FROM financials LIMIT 5"  # Modify query as needed
df = pd.read_sql(query, conn)
conn.close()

print(df)

   year  revenue  gross_profit  operating_income  pre_tax_income  \
0  2023   203611        269905             33975           35998
1  2022   359010        137988             32450            3057
2  2021   536144         63136              9811           26575
3  2020   308702        214342               890           20993
4  2019   147509        258738             25901           35335

   income_after_taxes  income_from_continuous_operations  net_income  \
0                2480                              13761       27307
1               -1497                               8834       31439
2               31640                               5083        3765
3                2947                               1935       30035
4               25154                               8282       14428

   basic_eps   eps
0       0.22  0.13
1       2.57  0.66
2       2.35  2.78
3       2.57  1.82
4       0.23  1.80

# Postgres SQL

In [ ]:
from vanna.openai import OpenAI_Chat
from vanna.chromadb import ChromaDB_VectorStore

class MyVanna(ChromaDB_VectorStore, OpenAI_Chat):
    def __init__(self, config=None):
        ChromaDB_VectorStore.__init__(self, config=config)
        OpenAI_Chat.__init__(self, config=config)

# Initialize Vanna with OpenAI/Groq model
vn = MyVanna(config={
    'api_key': 'sk-proj-fsbpVT***************************',
    'model': 'gpt-4o'
})

In [2]:
vn.connect_to_postgres(
            host="localhost",
            dbname="dsh",
            user="postgres",
            password="dsh20",
            port=5432
        )

In [3]:
# Load table information
with open("docs\sqlddl.txt", "r") as file:
    ddl_content = file.read()

# Load database schema descriptions
with open("docs\sqldocumentation.txt", "r") as file:
    documentation_content = file.read()

# Add DDL and documentation for training
vn.add_ddl(ddl_content)
vn.add_documentation(documentation_content)

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
C:\Users\malavika.gowthaman\AppData\Local\Temp\ipykernel_12932\1078500311.py:2: SyntaxWarning: invalid escape sequence '\s'
  with open("docs\sqlddl.txt", "r") as file:
C:\Users\malavika.gowthaman\AppData\Local\Temp\ipykernel_12932\1078500311.py:6: SyntaxWarning: invalid escape sequence '\s'
  with open("docs\sqldocumentation.txt", "r") as file:

'3908a30d-017d-5880-aa2d-3a10b79b9cdb-doc'

In [4]:
import pandas as pd

# Function to ask a question and get SQL results
def ask_question(question: str):
    sql_query, df, _ = vn.ask(question, print_results=False)

    if df is not None:
        print(f"\nGenerated SQL:\n{sql_query}\n")
        print("Results:")
        print(df.head())
    else:
        print("No results found.")
        df = pd.DataFrame()  # Create an empty DataFrame

    return sql_query, df

# Generate a summary from the results
def generate_summary(question: str, df: pd.DataFrame):
    if df is not None and not df.empty:
        return vn.generate_summary(question, df)
    return "No data available for summary."

# Generate follow-up questions
def generate_followup_questions(question: str, sql_query: str, df: pd.DataFrame):
    if df is not None and not df.empty:
        return vn.generate_followup_questions(question, sql_query, df, n_questions=5)
    return ["No relevant follow-up questions."]

# Determine if a chart should be generated
def should_generate_chart(df: pd.DataFrame):
    return vn.should_generate_chart(df)

In [10]:
if __name__ == "__main__":
    user_question = "What was the trend in revenue over the past years?"
    sql_query, result_df = ask_question(user_question)

    # Generate summary
    summary = generate_summary(user_question, result_df)
    print("\nSummary:")
    print(summary)

    # Generate follow-up questions
    followup_qs = generate_followup_questions(user_question, sql_query, result_df)
    print("\nFollow-up Questions:")
    for q in followup_qs:
        print(f"- {q}")

    # Check if a chart should be generated
    if should_generate_chart(result_df):
        print("\nA chart can be generated based on the data.")
    else:
        print("\nA chart is not recommended for this data.")

Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1
Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1

SQL Prompt: [{'role': 'system', 'content': "You are a PostgreSQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \nCREATE TABLE financial (\n    year INTEGER PRIMARY KEY,\n    revenue INTEGER,\n    gross_profit INTEGER,\n    operating_income INTEGER,\n    pre_tax_income INTEGER,\n    income_after_taxes INTEGER,\n    income_from_continuous_operations INTEGER,\n    net_income INTEGER,\n    basic_eps DECIMAL(5,2),\n    eps DECIMAL(5,2)\n);\n\nyear,revenue,gross_profit,operating_income,pre_tax_income,income_after_taxes,income_from_continuous_operations,net_income,basic_eps,eps\n2023,203611,269905,33975,35998,2480,13761,27307,0.22,0.13\n2022,359010,137988,32450,3057,-1497,8834,31439,2.57,0.66\n2021,536144,63136,9811,26575,31640,5083,3765,2.35,2.78\n\n\n===Additional Context \n\nTable Name: financial\nDescription: Stores financial performance data of a company over different years, including revenue, profit, and earnings per share.  \nKey Columns:  \nyear (integer) – Financial year of the record.  \nrevenue  (numeric) – Total revenue generated by the company.  \ngross_profit (numeric) – Revenue minus cost of goods sold (COGS).  \noperating_income (numeric) – Earnings before interest and taxes (EBIT).  \npre_tax_income (numeric) – Profit before tax deductions.  \nincome_after_taxes (numeric) – Net earnings after tax deductions.  \nincome_from_continuous_operations (numeric) – Earnings from core business activities.  \nnet_income (numeric) – Final profit after all expenses and deductions.  \nbasic_eps (numeric) – Basic earnings per share.  \neps (numeric) – Reported earnings per share.  \n\n\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find the distinct strings in that column. Prepend the query with a comment saying intermediate_sql \n3. If the provided context is insufficient, please explain why it can't be generated. \n4. Please use the most relevant table(s). \n5. If the question has been asked and answered before, please repeat the answer exactly as it was given before. \n6. Ensure that the output SQL is PostgreSQL-compliant and executable, and free of syntax errors. \n"}, {'role': 'user', 'content': 'What was the trend in revenue over the past years?'}]
Using model gpt-4o for 618.75 tokens (approx)
LLM Response: ```sql
SELECT year, revenue
FROM financial
ORDER BY year;
```
Extracted SQL: SELECT year, revenue
FROM financial
ORDER BY year;
Using model gpt-4o for 173.5 tokens (approx)

Generated SQL:
SELECT year, revenue
FROM financial
ORDER BY year;

Results:
   year  revenue
0  1824   259941
1  1825   349707
2  1826    61696
3  1827   309790
4  1828   509196
Using model gpt-4o for 1543.75 tokens (approx)

Summary:
The revenue data shows significant fluctuations over the years, with periods of both increase and decrease. Recently, from 2020 to 2022, there was a noticeable increase in revenue, reaching a peak in 2021, followed by a decrease in 2023.
Using model gpt-4o for 434.5 tokens (approx)

Follow-up Questions:
- What was the average revenue over the past years?
- Which year had the highest revenue?
- What is the total revenue over the past years?
- How did revenue change between consecutive years?
- What was the revenue trend in the last 5 years?

A chart can be generated based on the data.

In [11]:
import psycopg2
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

# Load environment variables
load_dotenv()

# PostgreSQL Configuration
POSTGRES_CONFIG = {
    "host": os.getenv("POSTGRES_HOST"),
    "port": os.getenv("POSTGRES_PORT"),
    "database": os.getenv("POSTGRES_DB"),
    "user": os.getenv("POSTGRES_USER"),
    "password": os.getenv("POSTGRES_PASSWORD"),
}

# Create SQLAlchemy Engine
def get_engine():
    return create_engine(
        f"postgresql://{POSTGRES_CONFIG['user']}:{POSTGRES_CONFIG['password']}@{POSTGRES_CONFIG['host']}:{POSTGRES_CONFIG['port']}/{POSTGRES_CONFIG['database']}"
    )

def connect_to_postgres():
    return psycopg2.connect(
        host=POSTGRES_CONFIG["host"],
        port=POSTGRES_CONFIG["port"],
        dbname=POSTGRES_CONFIG["database"],
        user=POSTGRES_CONFIG["user"],
        password=POSTGRES_CONFIG["password"]
    )

def list_postgres_tables():
    conn = connect_to_postgres()
    cursor = conn.cursor()
    cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='public'")
    tables = [row[0] for row in cursor.fetchall()]
    cursor.close()
    conn.close()
    return tables

def get_table_details(table_name):
    conn = connect_to_postgres()
    cursor = conn.cursor()
    cursor.execute(f"SELECT column_name, data_type FROM information_schema.columns WHERE table_name = '{table_name}'")
    columns = cursor.fetchall()
    cursor.close()
    conn.close()
    return pd.DataFrame(columns, columns=["Column Name", "Data Type"])

def get_table_data(table_name, limit=10):
    engine = get_engine()
    query = f"SELECT * FROM {table_name} LIMIT {limit};"
    df = pd.read_sql(query, engine)
    engine.dispose()
    return df

def run_query(query):
    engine = get_engine()
    df = pd.read_sql(query, engine)
    engine.dispose()
    return df

# List tables
tables = list_postgres_tables()
print("Available Tables:", tables)

# Get details of a specific table
table_name = tables[0] if tables else ""
if table_name:
    details = get_table_details(table_name)
    print(f"Details of {table_name}:")
    print(details)

    # Show table data
    table_data = get_table_data(table_name)
    print(f"Data from {table_name}:")
    print(table_data)

# Run a sample query
query = "SELECT * FROM financial LIMIT 5;"
result_df = run_query(query)
print("Query Results:")
print(result_df)

Available Tables: ['financial']
Details of financial:
                         Column Name Data Type
0                               year   integer
1                            revenue   integer
2                       gross_profit   integer
3                   operating_income   integer
4                     pre_tax_income   integer
5                 income_after_taxes   integer
6  income_from_continuous_operations   integer
7                         net_income   integer
8                          basic_eps   numeric
9                                eps   numeric
Data from financial:
   year  revenue  gross_profit  operating_income  pre_tax_income  \
0  2023   203611        269905             33975           35998
1  2022   359010        137988             32450            3057
2  2021   536144         63136              9811           26575
3  2020   308702        214342               890           20993
4  2019   147509        258738             25901           35335
5  2018   249753        171714              3870           14552
6  2017   153923         24299             29500           16499
7  2016   162113         96233             36133            1320
8  2015   104357        148880             29360           35352
9  2014   287816        253171             22401           33059

   income_after_taxes  income_from_continuous_operations  net_income  \
0                2480                              13761       27307
1               -1497                               8834       31439
2               31640                               5083        3765
3                2947                               1935       30035
4               25154                               8282       14428
5                1587                               1665        2663
6               18712                              17567       29375
7               24584                              18904       20461
8               -2708                              16278        5500
9               30082                              24787       -1392

   basic_eps   eps
0       0.22  0.13
1       2.57  0.66
2       2.35  2.78
3       2.57  1.82
4       0.23  1.80
5       1.38  2.52
6       1.59  1.93
7       2.33  1.33
8       1.87  3.14
9       3.10  1.78
Query Results:
   year  revenue  gross_profit  operating_income  pre_tax_income  \
0  2023   203611        269905             33975           35998
1  2022   359010        137988             32450            3057
2  2021   536144         63136              9811           26575
3  2020   308702        214342               890           20993
4  2019   147509        258738             25901           35335

   income_after_taxes  income_from_continuous_operations  net_income  \
0                2480                              13761       27307
1               -1497                               8834       31439
2               31640                               5083        3765
3                2947                               1935       30035
4               25154                               8282       14428

   basic_eps   eps
0       0.22  0.13
1       2.57  0.66
2       2.35  2.78
3       2.57  1.82
4       0.23  1.80

In [12]:
import psycopg2
import pandas as pd
import os
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

# PostgreSQL Configuration
POSTGRES_CONFIG = {
    "host": os.getenv("POSTGRES_HOST"),
    "port": os.getenv("POSTGRES_PORT"),
    "database": os.getenv("POSTGRES_DB"),
    "user": os.getenv("POSTGRES_USER"),
    "password": os.getenv("POSTGRES_PASSWORD"),
}

def connect_to_postgres():
    return psycopg2.connect(
        host=POSTGRES_CONFIG["host"],
        port=POSTGRES_CONFIG["port"],
        dbname=POSTGRES_CONFIG["database"],
        user=POSTGRES_CONFIG["user"],
        password=POSTGRES_CONFIG["password"]
    )

def list_postgres_tables():
    conn = connect_to_postgres()
    cursor = conn.cursor()
    cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='public'")
    tables = [row[0] for row in cursor.fetchall()]
    cursor.close()
    conn.close()
    return tables

def get_table_details(table_name):
    conn = connect_to_postgres()
    cursor = conn.cursor()
    cursor.execute(f"SELECT column_name, data_type FROM information_schema.columns WHERE table_name = '{table_name}'")
    columns = cursor.fetchall()
    cursor.close()
    conn.close()
    return pd.DataFrame(columns, columns=["Column Name", "Data Type"])

def run_query(query):
    conn = connect_to_postgres()
    cursor = conn.cursor()
    cursor.execute(query)
    df = pd.DataFrame(cursor.fetchall(), columns=[desc[0] for desc in cursor.description])
    cursor.close()
    conn.close()
    return df

# List tables
tables = list_postgres_tables()
print("Available Tables:", tables)

# Get details of a specific table
table_name = tables[0] if tables else ""
if table_name:
    details = get_table_details(table_name)
    print(f"Details of {table_name}:")
    print(details)

# Run a sample query
query = "SELECT * FROM financial;"
result_df = run_query(query)
print("Query Results:")
print(result_df)

Available Tables: ['financial']
Details of financial:
                         Column Name Data Type
0                               year   integer
1                            revenue   integer
2                       gross_profit   integer
3                   operating_income   integer
4                     pre_tax_income   integer
5                 income_after_taxes   integer
6  income_from_continuous_operations   integer
7                         net_income   integer
8                          basic_eps   numeric
9                                eps   numeric
Query Results:
     year  revenue  gross_profit  operating_income  pre_tax_income  \
0    2023   203611        269905             33975           35998
1    2022   359010        137988             32450            3057
2    2021   536144         63136              9811           26575
3    2020   308702        214342               890           20993
4    2019   147509        258738             25901           35335
..    ...      ...           ...               ...             ...
195  1828   509196        165910             36238           33286
196  1827   309790         61216             26727            6348
197  1826    61696         24926             26901           15302
198  1825   349707        211571             35606           37492
199  1824   259941        164799              8898           -3904

     income_after_taxes  income_from_continuous_operations  net_income  \
0                  2480                              13761       27307
1                 -1497                               8834       31439
2                 31640                               5083        3765
3                  2947                               1935       30035
4                 25154                               8282       14428
..                  ...                                ...         ...
195               21835                               8275       12658
196                3958                              31993       30576
197               30079                               7589       15836
198               21216                              13212       31356
199                5820                               7848       13018

    basic_eps    eps
0        0.22   0.13
1        2.57   0.66
2        2.35   2.78
3        2.57   1.82
4        0.23    1.8
..        ...    ...
195     -0.24   2.52
196     -0.15   2.52
197      1.31   0.88
198      0.62   1.11
199     -0.01  -0.14

[200 rows x 10 columns]

Get table info for postgresql

In [ ]:
!pip install psycopg2-binary
!pip install langchain-community

In [1]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("postgresql://postgres:Datastory@localhost:5432/financial")

print(db.get_table_info())

CREATE TABLE account_usage_patterns (
	usage_id NUMERIC,
	account_id NUMERIC,
	monthly_transactions NUMERIC,
	atm_withdrawals NUMERIC,
	avg_daily_logins NUMERIC
)

/*
3 rows from account_usage_patterns table:
usage_id	account_id	monthly_transactions	atm_withdrawals	avg_daily_logins
1	58	20	3	29
2	198	23	7	19
3	188	18	5	28
*/


CREATE TABLE accounts (
	account_id NUMERIC,
	customer_id NUMERIC,
	account_type VARCHAR,
	balance NUMERIC,
	account_status VARCHAR
)

/*
3 rows from accounts table:
account_id	customer_id	account_type	balance	account_status
1	159	Checking	4760.02	Active
2	173	Checking	11309.57	Active
3	38	Savings	2406.06	Dormant
*/


CREATE TABLE alerts (
	alert_id NUMERIC,
	customer_id NUMERIC,
	alert_type VARCHAR
)

/*
3 rows from alerts table:
alert_id	customer_id	alert_type
1	169	Large Transaction Alert
2	156	Payment Due
3	130	Overdraft Alert
*/


CREATE TABLE credit_scores (
	customer_id NUMERIC,
	account_id NUMERIC,
	credit_score NUMERIC,
	interest_rate NUMERIC
)

/*
3 rows from credit_scores table:
customer_id	account_id	credit_score	interest_rate
1	154	349	7.25
2	12	711	11.82
3	139	522	19.23
*/


CREATE TABLE customers (
	customer_id NUMERIC,
	name VARCHAR,
	email VARCHAR,
	phone VARCHAR,
	employment_status VARCHAR,
	marital_status VARCHAR,
	annual_income NUMERIC
)

/*
3 rows from customers table:
customer_id	name	email	phone	employment_status	marital_status	annual_income
1	Chris Hill	mariajohnson@hernandez-rocha.com	(371)441-2853x49507	Self-Employed	Single	26556
2	David Figueroa	rickybennett@dorsey.info	838.114.4105	Self-Employed	Married	84196
3	Deborah Mitchell	matatoni@yahoo.com	508-889-0711x0906	Employed	Single	46868
*/


CREATE TABLE fraudulent_transactions (
	transaction_id NUMERIC,
	account_id NUMERIC,
	amount NUMERIC,
	transaction_date VARCHAR,
	fraudulent VARCHAR,
	fraud_type VARCHAR
)

/*
3 rows from fraudulent_transactions table:
transaction_id	account_id	amount	transaction_date	fraudulent	fraud_type
1	95	2098.61	2024-03-24 22:29:36	No	None
2	191	1350.03	2022-10-11 17:57:07	No	None
3	87	1194.07	2023-04-20 16:05:38	Yes	None
*/


CREATE TABLE investment_portfolios (
	portfolio_id NUMERIC,
	customer_id NUMERIC,
	investment_amount NUMERIC,
	investment_type VARCHAR,
	risk_level VARCHAR
)

/*
3 rows from investment_portfolios table:
portfolio_id	customer_id	investment_amount	investment_type	risk_level
1	191	33066.87	Mutual Funds	Medium
2	69	15109.65	Mutual Funds	Low
3	166	38018.21	Stocks	High
*/


CREATE TABLE loan_applications (
	loan_id NUMERIC,
	customer_id NUMERIC,
	loan_amount NUMERIC,
	approval_status VARCHAR,
	loan_term_months NUMERIC,
	interest_rate NUMERIC
)

/*
3 rows from loan_applications table:
loan_id	customer_id	loan_amount	approval_status	loan_term_months	interest_rate
1	69	47281.0	Approved	20	12.16
2	106	60042.79	Approved	29	11.3
3	33	67253.6	Approved	27	4.82
*/


CREATE TABLE merchant_details (
	merchant_id NUMERIC,
	merchant_name VARCHAR,
	city VARCHAR,
	country VARCHAR,
	industry VARCHAR
)

/*
3 rows from merchant_details table:
merchant_id	merchant_name	city	country	industry
1	Finley, Jones and Payne	South Adam	Tajikistan	Retail
2	Long and Sons	Parkerstad	Dominica	Retail
3	Mcgrath PLC	Thomasville	Reunion	Entertainment
*/


CREATE TABLE transactions (
	transaction_id NUMERIC,
	account_id NUMERIC,
	amount NUMERIC,
	transaction_date VARCHAR,
	merchant VARCHAR,
	transaction_type VARCHAR,
	transaction_mode VARCHAR
)

/*
3 rows from transactions table:
transaction_id	account_id	amount	transaction_date	merchant	transaction_type	transaction_mode
1	24	649.01	2023-07-24 14:40:15	Williams, Bradford and Thomas	Debit	ATM
2	164	458.52	2023-05-07 16:23:15	Anderson Ltd	Debit	Online
3	86	694.31	2022-03-31 09:36:56	Robertson, Frazier and Young	Debit	Online
*/